* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P";
}

#root {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 3rem;
  row-gap: 4rem;
}

body {
  padding: 2rem;
  background-color: #131f58;
  color: #fbeb64;
}

img {
  width: 200px;
}

.experience h3 {
  color: red;
}

.card {
  border-radius: 3rem 0 3rem 0;
  width: 350px;
  background-color: #586a9e;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.card-title {
  font-size: 25pt;
  border-radius: 50%;
  width: 350px;
  background-color: red;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}
